{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe :: KomptApp{% endblock %}

{% block body %}
    {% include "partials/header.html.twig" %} 
   
    <div class="row">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">
            <h1 class="my-5">Modification du mot de passe</h1>
            <hr>
            <div class="container alert alert-light clearfix">                
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary float-right">
                    <i class="fas fa-check"></i>
                    Enregistrer le mot de passe
                </button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    
{% endblock %}
