{% extends 'base.html.twig' %}

{% block title %}Nouveau membre::KomptApp{% endblock %}

{% block stylesheets %}
     {{ encore_entry_link_tags('css/dashboard') }}
{% endblock %}

{% block body %}
    {% include "admin/partials/header.html.twig" %}  
    <div class="container-fluid">
        <div class="row">
            {% include "admin/partials/menu.html.twig" %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-2"> 
                 <h1 class="my-3">Nos membres</h1>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#physique">
                        <i class="fas fa-user"></i>
                        Personnes physiques</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#morale">
                        <i class="fas fa-home"></i>
                        Personnes morales</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">                   
                    <div class="tab-pane fade active show" id="physique">
                        <div class="container-fluid">
                            <h1>Personnes physiques</h1>
                            {% include "admin/member/_members.html.twig" with {'members' : members.physiques, 'primary': 'info'} %}
                        </div>  
                    </div>
                    <div class="tab-pane fade" id="morale">
                         <div class="container-fluid">
                            <h1 class="">Personnes morales</h1>
                            {% include "admin/member/_members.html.twig" with {'members' : members.morales, 'primary': 'primary'} %}
                        </div>  
                    </div>
                </div>    
            </main>
        </div>
    </div>
{% endblock %}
 {% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
     {{ encore_entry_script_tags('js/dashboard') }}
 {% endblock %}
