<div id="row custom-templates" >
    <input id="form_query" class="form-control typeahead form-control-dark ml-3 " 
    type="text" placeholder="Recherche un membre par Nom ou Code" aria-label="Search" >
</div>